<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Login Tests">

    <test name="P1 Test">
        <groups>
            <run>
                <include name="p1"/>
            </run>
        </groups>
        <classes>
            <class name="com.facebook.tests.Login_Test"/>
        </classes>
    </test>

    <test name="P2 Test">
        <groups>
            <run>
                <include name="p2"/>
            </run>
        </groups>
        <classes>
            <class name="com.facebook.tests.Login_Test"/>

                <!-- <methods>
                     <exclude name="filloutPassFld">
                     </exclude>
                </methods>
                -->
            </classes>
    </test>

    <test name="P3 Test">
        <groups>
            <run>
                <include name="p3"/>
            </run>
        </groups>
        <classes>
            <class name="com.facebook.tests.Login_Test"/>
        </classes>
    </test>


</suite>

        <!--  this document sets up the running the Login_Test.java file -->
        <!--  the order and dependencies of what to run still lives in the Login_Test.java file though -->